@model FCamara.App.Models.DependenteViewModel
@using FCamara.Common.Enums

<div class="form-group">
    <label asp-for="FuncionarioId" class="control-label"></label>
    <select asp-for="FuncionarioId" class="form-control" asp-items="@(new SelectList(Model.Funcionarios, "Id", "Nome"))">
        <option></option>
    </select>

    <span asp-validation-for="FuncionarioId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Nome" class="control-label"></label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CPF" class="control-label"></label>
    <input asp-for="CPF" class="form-control" />
    <span asp-validation-for="CPF" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Nascimento" class="control-label"></label>
    <input asp-for="Nascimento" class="form-control" />
    <span asp-validation-for="Nascimento" class="text-danger"></span>
</div>
@if (Model != null)
{
    <div class="form-group">
        <label asp-for="Sexo" class="control-label"></label><br />
        <input type="radio" value="1" asp-for="Sexo" checked="@(Model.Sexo == ESexo.Masculino)" /> Masculino<br />
        <input type="radio" value="2" asp-for="Sexo" checked="@(Model.Sexo == ESexo.Feminino)" /> Feminino
    </div>
}
else
{
    <div class="form-group">
        <label asp-for="Sexo" class="control-label"></label><br />
        <input type="radio" value="1" asp-for="Sexo" checked /> Masculino<br />
        <input type="radio" value="2" asp-for="Sexo" /> Feminino
    </div>
}
